<ion-header>
  <ion-navbar color="green-lemon">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List of sensors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-card class="sensors" *ngFor="let sensor of sensorsList">
  <ion-item>
    <ion-icon [name]="sensor.icon" [ngStyle]="{'color': sensor.color}" item-start></ion-icon>
    <h2>{{sensor.title}}</h2>
  </ion-item>
  <ion-col col-6 class="attrs" *ngFor="let attr of sensor.attr" (click)="itemTapped($event, sensor)">
        {{attr}}
      </ion-col>
  <ion-card-content>
      <p>{{sensor.note}}</p>
    </ion-card-content>
  
    <ion-row>
        <ion-item>
        <ion-label> 
            <ion-icon name='power'></ion-icon> Activate 
        </ion-label>
        <ion-toggle  color="secondary"  > </ion-toggle>
      </ion-item>
        
      
      </ion-row>
    
    </ion-card>

  </ion-content>