<ion-header>
    <ion-navbar color= "green-lemon">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List of sensors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class = "sensors">
  <ion-list color="light-purple">
    <button ion-item *ngFor="let sensor of sensorsList" (click)="itemTapped($event, sensor)">
        <ion-col col-6>
      <ion-icon [name]="sensor.icon" [ngStyle]="{'color': sensor.color}" item-start></ion-icon>
      {{sensor.title}}
    </ion-col>
      <ion-col col-6 class="item-note" item-end>
        {{sensor.note}}
      </ion-col>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
