// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.item-inner{
    margin:2%;
    
}
//.item-block {
    //margin-bottom: 3%;
    //opacity: 0.7;
//}
.input-signup{
    opacity: 0.7;
    margin-bottom: 5%;
}
.button-close{
    opacity:0.4;
    margin-bottom: 5%;
}
.signup{
    padding: 20px;
}
.welcome{
    background-image: url('../assets/imgs/Tomates-invernadero.jpg');
    background-size: cover;
    text-align: center;
}
.menu{
    background-image: url('../assets/imgs/guisantes.jpg');
    background-size: cover;
}
.profile{
    background-image: url('../assets/imgs/fruta.jpg');
    background-size: cover;
}
.sensors{
    background-color: #e1bee7;
    background-size: cover;
}
.control{
    background-image: url('../assets/imgs/tomatoes.jpg');
    background-size: cover;
}
.actuators{
    background-image: url('../assets/imgs/cielo.jpg');
    background-size: cover;
}
.tabs-md .tabbar {
  background-color:#f0f4c3;
}
.tabs-ios .tabbar {
    background-color:#f0f4c3;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
    color:#9c27b0;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    color:#9c27b0;
}
.tabs-md .tab-button[aria-selected=true]{
    color:#9c27b0;
}
.tabs-ios .tab-button[aria-selected=true]{
    color:#9c27b0;
}
ion-label{
    white-space: initial;
}
.transparent{
    background-color:#f0f4c3;
    opacity: 0.5;
}
.h1{
    background: color($colors, light-purple);
}
.button{
    color: black;
}

/*.add-button{
    position: relative;
    left: 70%;
}*/