<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Witness Plant</ion-title>
  </ion-navbar>
</ion-header>
<ion-icon name="close-circle-outline"></ion-icon>
<ion-content>
  <div class="flex-container divStyle">

    <button *ngIf="createW" ion-button class="button-greenhouse formStyle" color="grey" (click)="createWitness()">
      Create new witness plant
    </button>
    <form class="formStyle" *ngIf="optCreateW" [formGroup]="formWitness" (ngSubmit)="create()">
      <ion-row justify-content-center>
        <ion-list class="formStyle">

          <ion-item class="input-signup" color="light-lemon">
            <ion-input type="text" placeholder="enter a name" formControlName="name"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col col-4>
              <ion-item class="input-signup " color="light-lemon">
                <select placeholder="greenhouse" formControlName="greenhouse">
                  <option value="">Greenhouse</option>
                  <option value="Greenhouse 1">Greenhouse 1</option>
                  <option value="Greenhouse 2">Greenhouse 2</option>
                </select>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item class="input-signup" color="light-lemon">
                <select placeholder="block" formControlName="block">
                  <option value="">Select block</option>
                  <option value="Block 1">Block 1</option>
                  <option value="Block 2">Block 2</option>
                  <option value="Block 3">Block 3</option>
                </select>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item class="input-signup" color="light-lemon">
                <ion-input type="number" placeholder="enter row" formControlName="row"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <span *ngIf="formWitness.get('row').touched 
          && (formWitness.get('row').value == 0 
          || formWitness.get('row').value >25)">
                row has to be between 1 - 25
              </span>
            </ion-col>
          </ion-row>
          <ion-item class="input-signup" color="light-lemon">
            <select formControlName="planType">
              <option value="">Select a type of plant</option>
              <option value="Cherry tomato"> Cherry tomato</option>
              <option value="Salad tomato"> Salad tomato</option>
            </select>
          </ion-item>

          <ion-item class="input-signup" color="light-lemon">
            <ion-input type="text" placeholder="enter a description" formControlName="description"></ion-input>
          </ion-item>

          <button ion-button type="submit" color="light-purple" block [disabled]="formWitness.invalid">
            Create
          </button>

          <button ion-button color="grey" block (click)="back()">
            Dismiss
          </button>
        </ion-list>
      </ion-row>
    </form>

    <ion-list class="cardStyle" color="light-purple">
      <ion-card *ngFor="let item of devices">
        <button ion-item (click)="openNavDetailsPage(item)" icon-start>

          <ion-item>
            <h1>{{item.name}}</h1>
            <p>{{item.planType}}</p>
          </ion-item>


          <ion-card-content *ngIf="formWitness.get('description').value!=undefined">
            <p>{{item["additionalInfo"]["description"]\n}}</p>
          </ion-card-content>
        </button>
        <button *ngIf="item.state ==1" class="iconsAlert">
          <ion-icon name="alert" color="danger" (click)="openModal({item: item})"></ion-icon>
        </button>
        <button *ngIf="item.state ==0" class="iconsAlert">
          <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
        </button>


        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <div>{{item["additionalInfo"]["greenhouse"]}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
              <div>{{item["additionalInfo"]["block"]}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
              <div>Row: {{item["additionalInfo"]["row"]}}</div>
            </button>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col align-self-center text-center>
            <ion-note>
              Witness plant
            </ion-note>
          </ion-col>
          <button class="iconsWitness" (click)="presentAlertConfirm(item)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-row>
      </ion-card>
    </ion-list>

  </div>
</ion-content>