.button-container{
    display: flex; 
    justify-content: center;
}
.toolbar-title-md{
    text-align: center;
}
.toolbar-title-wp{
    text-align: center;
}
.toolbar-md-dark .toolbar-title-md {
    color: white;
}
.toolbar-title{
    text-transform: uppercase;
}
td, { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}
.button-greenhouse{
    max-height: 9em;
    max-width: 20em;
    min-height: 6em;
    min-width: 15em;
}

table {
    margin-bottom: 5%;
}

ion-checkbox {
    margin-right: 5px;
}