<ion-header>
  <ion-toolbar color="dark" >
    <ion-title>Greenhouse app</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="welcome">

  <ion-list>
    <ion-list-header color="light-lemon">A world that works for you</ion-list-header>
  </ion-list>
  <ion-item color="light-lemon">
      <ion-icon name="home" item-start></ion-icon>
      This is the free way to get all your devices talking to each other.
    </ion-item>
  <ion-grid>
    <ion-row *ngIf="showButtonStarted" justify-content-center>
      <button ion-button color="purple" (click)="openLoginPage()">Get Started</button>
    </ion-row>
    <login *ngIf="!showButtonStarted" (userName)="showName($event)">
    </login>
  </ion-grid>

</ion-content>