<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Greenhouse app</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="welcome">

  <ion-list>
    <ion-list-header color="light-lemon">
      Welcome to greenhouse app</ion-list-header>

    <ion-item class="input-signup" color="light-lemon">
      <ion-title>Optimize the monitoring of the data of a real greenhouse. A world that works for you
      </ion-title>
    </ion-item>

  </ion-list>
  <ion-grid>
    <ion-row *ngIf="showButtonStarted" justify-content-center>
      <button ion-button color="grey" (click)="openLoginPage()">Get Started</button>
    </ion-row>
    <login *ngIf="!showButtonStarted" (userName)="showName($event)">
    </login>
  </ion-grid>

</ion-content>