.button-container{
    display: flex; 
    justify-content: center;
}
.toolbar-title-md{
    text-align: center;
}
.toolbar-title-wp{
    text-align: center;
}
.toolbar-md-dark .toolbar-title-md {
    color: white;
}
.toolbar-title{
    text-transform: uppercase;
}