.content-md {
    background-color: #5c007a;
  color: #d4e157
}
.alert-md .alert-wrapper{
    background-color: #f0f4c3;
    opacity: 0.5;
    border-style: solid;
    border-color: #9c27b0;
    border-radius: 7px;
}
.alert-md .alert-button{
    color: #9c27b0;
}
.alert-ios .alert-wrapper{
    background-color: #f0f4c3;
    opacity: 0.5;
    border-style: solid;
    border-color: #9c27b0;
    border-radius: 7px;
}
.alert-ios .alert-button{
    color: #9c27b0;
}