<ion-header>
    <ion-toolbar color="dark">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Greenhouse {{id}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="dark-green">
    <div class="flex-container" >
        <h2>Info about Greenhouse
            <button class="iconsAlert" (click)="showInfo()">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </h2>
        <table *ngIf="info">
                <tbody>
                    <tr *ngFor = "let item of greenHs[id-1].info">
                            <td>{{item.name}}</td>
                            <td>{{item.value}}</td>
                </tbody>
            </table>
        <h2>Currently parameters</h2>
        <div class="flex-row">
            <ion-col>
                <h3>Inside</h3>
                <table>
                    <tbody>
                        <tr *ngFor = "let item of greenHs[id-1].insideParam">
                                <td>{{item.name}}</td>
                                <td>{{item.value}}</td>
                    </tbody>
                </table>
            </ion-col>
            <ion-col>
                <h3>Outside</h3>
                <table>
                    <tbody>
                        <tr *ngFor = "let item of outParam">
                            <td>{{item.name}}</td>
                            <td>{{item.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </ion-col>
        </div>
        <h2>Blocks</h2>
        <div class="flex-row">
            <ion-col *ngFor = "let item of greenHs[id-1].blocks">

                <button ion-button class="button-greenhouse" color="grey" icon-left>
                    Block {{item.idBlock}}
                </button>
                <ion-row justify-content-center>
                    <button class="iconsAlert">
                        <ion-icon *ngIf= "item.state==1" name="alert" color="danger" (click)="openModal({item: item})" ></ion-icon>
                        <ion-icon *ngIf= "item.state==0" name="checkmark-circle" color="secondary"></ion-icon>
                    </button>
                </ion-row>
            </ion-col>
            
        </div>
    </div>
    <ion-segment [(ngModel)]="id">
            <ion-segment-button value="1"> 
              Greenhouse 1
            </ion-segment-button>
            <ion-segment-button value="2">
              Greenhouse 2
            </ion-segment-button>
          </ion-segment>
</ion-content>